$main-color: #00a6ab;
$second-color: #e3a830;
$high-color: darken(#00a6ab, 5);
$medium-color: #e3a830;
$negative-color: #C02942;

$sidebar-width: 300px;

$small-only: screen and (max-width: 39.9375em);
$touch: screen and (max-width: 64em);
$medium: screen and (min-width: 40em);
$medium-only: screen and (min-width: 40em) and (max-width: 63.9375em);
$medium-down: (max-width 64em);
$medium-up: (min-width 64em);
$large: screen and (min-width: 64em);

.align-center {
  text-align: center;
}

.u-material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  /* Support for IE. */ font-feature-settings: 'liga';
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content }
  &:-moz-placeholder { @content }
  &::-moz-placeholder { @content }
  &:-ms-input-placeholder { @content }
}

body {
  font-family: "alwyn-new-web", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

a {
  text-decoration: none;
  cursor: pointer;
}


p {
  line-height: 1.5;

  a {
    color: darken($main-color, 8);
    &:hover { background-color: rgba($main-color, .1); }
  } 
}

code {
  font-family: "Lucida Console", "Courier New", monospace;;
}

.main-wrapper {
  position: relative;
  height: auto;
  @include breakpoint($medium) { min-height: 100vh; }
}
  

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px; 
  background-color: rgba(black, .7);

  &--sidebar {
    margin-top: 30px;
    position: static;
    margin-left: 300px;
    width: calc(100% - 300px);
    p { 
      text-align: left; 
      max-width: 100% !important;
      padding-left: 20px;
    }
  }

  p {
    color: rgba(white, .7);
    font-size: .8rem;
    margin: 0 auto;
    line-height: 1.6;
    @include breakpoint($large) { max-width: 70%; }

    a {
      color: white;
      &:hover {
        text-decoration: underline;
        background-color: transparent;
      }
    }
  }
}
