.button {
  display: inline-block;
  background-color: rgba(white, .1);
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: "alwyn-new-web", sans-serif;
  font-weight: 200;
  vertical-align: top;
  padding: 13px 13px 11px 13px;  

  i { font-size: 1.4rem; }

  span {
    display: inline-block;
    vertical-align: top;
    margin: 5px 0 0 10px;
  }
}

.button:hover {
  background-color: rgba(white, .2);
}


.button--main-color {
  background-color: $main-color;
  &:hover { background-color: darken($main-color, 6); }
}

.button--block { 
  width: 100%; 
  display: block;
}

.button--third { width: calc(33.3% - 4px); }

.button--icon-only { padding: 10px !important; }
.button--transparent { background-color: transparent; }


// Probably will delete these styles
.button--float-left { float: left;}
.button--float-right { float: right;}