.button {
  display: inline-block;
  
  background-color: rgba(white, .1);
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: "alwyn-new-web", sans-serif;
  font-weight: 200;
  vertical-align: top;

  @include breakpoint($touch) {
    padding: 12px;  
    i { font-size: 1.4rem; }
  }

  @include breakpoint($large) {
    padding: 20px;
    i { font-size: 2rem; }
  }

  span {
    display: inline-block;
    vertical-align: top;
    margin: 5px 0 0 10px;
  }
}

.button:hover {
  background-color: rgba(white, .2);
}

.button--main-color {
  background-color: $main-color;

  &:hover { background-color: darken($main-color, 6); }
}

.button--block { 
  width: 100%; 
  display: block;
}

.button--float-left { float: left;}
.button--float-right { float: right;}