

.card {
  background-color: rgba(black, .05);
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  @include breakpoint($touch) { margin: 10px; }

  h2 {
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.4;
    text-overflow: ellipsis;

    @include breakpoint($large) {
      font-size: 1.4rem;
    }
  }

  h3 {
    font-size: 1rem;

    @include breakpoint($large) {
      font-size: 1.2rem;
      font-weight: 200;  
    }
  }

  p {
    font-size: 0.9rem;
    line-height: 1.5;
    @include breakpoint($large) { font-size: 1rem; }
  }

  header {
    padding: 15px;
    @include breakpoint($large) { padding-left: 30px; }

    h2, h3 {
      color: white;
      margin: 0 70px 0 0;
      line-height: 1.2;
    }

    h2 {
      @include breakpoint($small-only) { line-height: 1.3; }
      @include breakpoint($large) {
        white-space: nowrap;
        overflow: hidden;
      }
    }

    h3 {
      opacity: .6;
      margin-top: 10px;
    }
  }

  &__main { 
    padding: 15px;
    @include breakpoint($large) { padding: 30px 20px 30px 30px; }
    flex: 1;

    p { 
      margin-bottom: 10px; 
      color: rgba(black, .7);
    }
  }

  &__sidebar { 
    flex: 0; 
    flex-basis: 110px;
    display: flex;
    flex-direction: column;

    @include breakpoint($small-only) { flex-direction: column; }
  }
  
  &__text { 
    flex: 4;
    @include breakpoint($touch) { font-size: 1rem; }
  }

  &__controls {
    background-color: rgba(black, .7);
    display: flex;
  }

  &__list-code {
    flex: 1;
    color: white;
    padding: 13px 20px 11px;
    

    code {
      padding: 4px;
      background-color: rgba(white, .1);
    }
  }

  &__score {
    float: right;

    // This will go to score
    padding: 10px;
    font-size: 1.4rem;
    text-align: center;
    color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 2px solid white;
  }
}

.categories {
  padding: 10px;
  line-height: 1.5;
  margin-bottom: 10px;
   
  li, h4 {  
    display: inline; 
    color: rgba(black, .8);
  }
  h4 { font-weight: 400; }
  
}

.categories--countries { background-color: rgba($main-color, .1); }
.categories--sectors { background-color: rgba($second-color, .1); }

.card--suggested {
  header {
    background-color: $main-color;
  }
}

.card--possible {
  header {
    background-color: $second-color;
  }
}

