.list-group {
  &__header {
    margin-bottom: 20px;
    @include breakpoint($large) { display: flex; }

    h1 {
      font-size: 3rem;
      padding: 15px;
      color: white;
      margin-bottom: 10px;
      @include breakpoint($large) { margin-bottom: 0; }
    }

    p {
      vertical-align: top;
      padding: 10px 30px;
      line-height: 1.62;
      width: 100%;
      flex: 1;
      background-color: rgba(black, .05);

      @include breakpoint($large) { margin-left: 7px; }
      @include breakpoint($small-only) {display: none;}
      
      br {
        @include breakpoint( (max-width 1200px) ) { display: none; }  
      }
      
    }
  }
  
  &__main {
    display: flex;
    flex-wrap: wrap;
    @include breakpoint($touch) { flex-direction: column; }
  }

  &__item {
    
    padding-bottom: 20px;
    
    @include breakpoint($large) { width: 50%; }

    &:nth-child(even) {
      @include breakpoint($large) { padding-left: 20px; }
    }
  }

  &--suggested {
    h1 { background-color: $main-color; }
  }

  &--possible {
    h1 { background-color: $second-color; }
  }
}


