.sidebar {
  background-color: #f8f8f8;
  padding: 0 30px;
  display: flex;
  flex-direction: column;

  @include breakpoint($touch) { display: none; }
  
  &__logo img {
    max-width: 100%;
    padding: 40px 60px;
    margin-bottom: 30px;
  }

  .button {
    span {
      margin: 0 0 0 25px;
    }
  }

  &__main {
    flex: 1;
  }

  &__footer {
    padding: 20px 0 40px;
    border-top: 1px solid rgba(black, .1);
    text-align: center;

    h5 {
      font-size: .9rem;
      margin: 20px 0 10px;
      color: rgba(black, .6);
    }

    .button {
      color: rgba(black, .4);
      text-align: center;
      font-size: .9rem;
      border: 1px solid rgba(black, .1);

      &:hover {
        border-color: $main-color;;
        color: $main-color;
      }
    }
  }
}



.filter {
  padding-bottom: 20px;

  label {
    display: block;
    padding: 0 15px 10px;
    color: #333;
  }

  select {
    font-family: "alwyn-new-web", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #333;
  }
}

