.topbar {
  @include breakpoint($large) {display: none; }
  
  background-color: rgba(black, .05);
  box-shadow: 1px 1px 4px rgba(black, .2);

  &__logo { 
    padding: 2px 0;
    text-align: center;

    .logo--icon { 
      height: 44px;
      padding: 6px;
    }
  }

  .button {
    i, span { color: rgba(black, .3); }
    
    > span {
      font-size: 1.2rem;
      display: inline-block;
      margin: 0;
      padding: 0 10px;
    }
  }
}