<aside class="sidebar">
  <div class="sidebar__logo">
    <img src="images/org-id-logo.png" alt="">
  </div>

  <section class="sidebar__main">
    {% if page.sidebar %}
    <form action="" class="sidebar__filters">
      
      <fieldset class="filter filter--organizations">
        <label for="">Identifiers for...</label>
        <div class="dropdown">
          <select name="" id="">
            <option value="">Any organization</option>
            <option value="">A charity</option>
            <option value="">A company</option>
            <option value="">A government agency</option>
            <option value="">A trust</option>
            <option value="">An unincorporated body</option>
          </select>
        </div>
      </fieldset>
      
      <fieldset class="filter filter--countries">
        <label for="">Registered in...</label>
        <div class="dropdown">
          <select name="" id="">
            <option value="">Any country</option>
          </select>
        </div>
      </fieldset>
      
      <fieldset class="filter filter--sector">
        <label for="">Working in...</label>
        <div class="dropdown">
          <select name="" id="">
            <option value="">Any sector</option>
            <option value="">Education</option>
            <option value="">Humanitarian Relief</option>
            <option value="">Research</option>
          </select>
        </div>
      </fieldset>
      <button class="button button--main-color button--block">Search</button>
    </form>
    {% else %}
    <a href="/list.html" class="button button--main-color button--block"><i class="material-icons">arrow_back</i><span>Back to List</span></a>
    {% endif %}
  </section>

  <footer class="sidebar__footer">
    <a href="#" class="button button--block">About</a>
    
    <h5>Download</h5>
    <a href="#" class="button button--third">JSON</a>
    <a href="#" class="button button--third">CSV</a>
    <a href="#" class="button button--third">XML</a>
  </footer>
</aside>