<div class="topbar">
  <!-- This needs a condition. 
    IF single.html, click goes to list.html 
    IF list.html click goes to index.html
  -->

  <a href="/index.html" class="button button--float-left"><i class="material-icons">arrow_back</i></a>
  <a href="#" class="button button--float-right"><span>About</span></a>
  <a href="#" class="button button--float-right"><i class="material-icons">file_download</i></a>
  <div class="topbar__logo">
    <img class="logo--icon" src="/images/org-id-logo.png" alt="ORG ID Guide">
  </div>
</div>