---
layout: default
title: Org Id Guide
---

<main class="" role="main"> <!-- main content starts here -->
  <header class="budget-dashboard">
    <h3>Available Budget</h3>
    <h1 id="budget"><!--Show Remaining mudget --></h1>      
  </header>

  <div class="main-wrapper">
    <div class="section section--left">
      <h1>Available Projects</h1>
      <section class="dragula-container item-container">
        
        {% for i in site.data.items %}    
        <div class="item" data-item="{{i.price}}" data-id="{{i.id}}">
          <header>
            <h3>{{i.title}}</h3>
            <h4>{{i.price}}</h4>  
          </header>
          <p>{{i.description}}</p>
        </div>
        {% endfor %}  
      </section>
    </div>
    <div class="section section--center">
      <h1>I want these projects</h1>
      <section id="" class="dragula-container pb-yes item-container">
        
      </section>
    </div>
  </div>

  <div class="modal-wrapper">
  {% for i in site.data.items %}    
    <div class="modal" id="modal-{{i.id}}">
      <header>
        <h3>{{i.title}}</h3>
        <h4>{{i.price}}</h4>  
      </header>
      <p><img src="https://previews.123rf.com/images/imagehitevo/imagehitevo1107/imagehitevo110700336/9957905-Empty-park-bench-Stock-Photo.jpg" alt=""></p>
      <p>{{i.description}}</p>

    </div>
    {% endfor %}
    </div>
</main>
